<table>
  <thead>
    <tr>
      <th>Order No.</th>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let order of coffeOrders">
      <td>{{ order.payload.doc.data().orderNumber }}</td>
      <td>{{ order.payload.doc.data().customerName }}</td>
      <td>
        <button
          [hidden]="order.payload.doc.data().completed"
          (click)="markCompleted(order)"
        >
          <i class="material-icons">check</i>
        </button>
      </td>
      <td>
        <button
          [hidden]="order.payload.doc.data().completed"
          (click)="deleteOrder(order)"
        >
          <i class="material-icons">delete_forever</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ul>
  <li></li>
</ul>
